<?xml version="1.0"?>
<tocxml>
  <toc>
    <node title="Unit 1" type="Unit">
      <node title="Unit 1 Chapter 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, voluptatem, sapiente, error, voluptas at explicabo illo velit est dolor enim a voluptatum nesciunt omnis molestias provident eum nisi nam ex." type="Chapter">
        <node title="Unit 1 Chapter 1 Section 1" type="Section">
          <node title="Unit 1 Chapter 1 Section 1 Subsection 1" type="subSection"></node>
          <node title="Unit 1 Chapter 1 Section 1 Subsection 2" type="subSection"></node>  
        </node>
        <node title="Unit 1 Chapter 1 Section 2" type="Section"></node>
      </node>
      <node title="Unit 1 Chapter 2" type="Chapter">
        <node title="Unit 1 Chapter 2 Section 1" type="Section"></node>
      </node>
    </node>
    <node title="Unit 2" type="Unit">
      <node title="Unit 2 Chapter 1" type="Chapter">
        <node title="Unit 2 Chapter 1 Section 1" type="Section">
          <node title="Unit 2 Chapter 1 Section 1 Subsection 1" type="subSection"></node>
          <node title="Unit 2 Chapter 1 Section 1 Subsection 2" type="subSection"></node> 
        </node>
        <node title="Unit 2 Chapter 1 Section 2" type="Section"></node>
      </node>
    </node>
    <node title="Unit 3" type="Unit">
      <node title="Unit 3 Chapter 1" type="Chapter">
        <node title="Unit 3 Chapter 1 Section 1" type="Section">
          <node title="Unit 3 Chapter 1 Section 1 Subsection 1" type="subSection"></node>
          <node title="Unit 3 Chapter 1 Section 1 Subsection 2" type="subSection"></node> 
        </node>
        <node title="Unit 3 Chapter 1 Section 2" type="Section"></node>
        <node title="Unit 3 Chapter 1 Section 3" type="Section"></node>
      </node>
    </node>
  </toc>
</tocxml>
